.login-form {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Arial, sans-serif;
}


.login-form .form-field {
  margin-bottom: 15px;
}

.login-form .form-field label {
  display: block;
  margin-bottom: 5px;
}

.login-form .form-field input {
  width: calc(100% - 40px);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
}


.login-form .form-actions {
  margin-top: 20px;
}

.login-form .form-actions .login-btn {
  width: calc(100% - 40px);
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form .form-actions .login-btn:hover {
  background-color: #45a049;
}

.login-form .form-actions .register-btn {
  width: calc(100% - 40px);
  background-color: #f5f5f5;
  color: #333;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form .form-actions .register-btn:hover {
  background-color: #ddd;
}


.login-form .error-message {
  color: #ff6666;
  margin-top: 10px;
}


.login-form .logo {
  max-width: 100px;
  margin-bottom: 20px;
}
