.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.account-info {
    display: grid;
    grid-template-columns: minmax(auto, 300px) 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 80%;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}

.profile-img {
    grid-area: auto; /* Adjust based on your layout needs */
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-info, .about {
    padding: 10px;
}

.about {
    grid-area: auto; /* Adjust based on your layout needs */
    overflow: auto;
}

.profile-description {
    padding: 10px;
    border-radius: 8px;
}

.listings, .profile-bids, .profile-subscribed, .profile-previous-bids {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

.profile-listings, .my-listings-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.my-listing {
    flex-basis: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
}

.my-listing img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.my-listing .listing-card, .my-listing .listing-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.my-listing h3, .my-listing p {
    margin: 5px;
}

.my-listing .stats {
    display: flex;
    justify-content: space-between;
}

.listings-button, .bids-button, .subscribed-button, .bid-history-button {
    min-height: 35px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .account-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .my-listing {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .my-listing {
        flex-basis: 100%;
    }
}
