.my-bids-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.my-bids-container .my-bids-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  max-width: var(--desktop-width);
  /* width: 100%; */
  margin: 0 auto;
}

.my-bids-container .my-bids-content h2 {
  margin: 0px;
}

.my-bids-container .my-bids-header {
  display: flex;
  justify-content: space-between;
}

.my-bids-container .my-bids {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.my-bids-container .my-bid {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.my-bids-container .listing-card {
  display: flex;
  align-items: center;
}

/* .my-bids-container .listing-card img {
  margin-left: 40px;
  max-width: 256px;
  height: 196px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
} */

/* .my-bids-container .listing-card p {
  margin: 3px;
  font-size: 1em;
  width: 200px;
  padding-bottom: 20px;
  margin-top: 20px;
} */

.my-bids-container .item-description {
  width: 200px;
  color: var(--base-content);
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
}

.my-bids-container .bid-info {
  background-color: var(--base-300);
  margin-left: 30px;
  margin-bottom: 20px;
  width: 500px;
  color: var(--base-content);
  height: 250px;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
}
