.search-page {
  margin: auto;
  max-width: var(--desktop-width);
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.search-results .listing {
  display: flex;
  gap: 5px;
  background-color: var(--base-200);
  padding: 10px;
  border-radius: 16px;
  flex-basis: calc(50% - 30px);
  flex-grow: 1;
}

.search-results .listing .details {
  display: flex;
  flex-direction: column;
}

.search-results .listing h3 {
  margin: 5px;
}

.search-results .listing p {
  margin: 3px;
  font-size: 0.8em;
}

.search-results .listing img {
  max-width: 256px;
  height: 196px;
  object-fit: cover;
  border-radius: 16px;
}
